---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout>
  <Fragment slot="head">
    <title>Fastighetsförvaltning</title>
  </Fragment>
  <article class="prose mx-auto p-4">
    <h1>Fastighetsförvaltning</h1>
    <p>Vi erbjuder ekonomisk, teknisk och juridisk förvaltning för en trygg och effektiv drift.</p>
  </article>
</BaseLayout>
