---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <Fragment slot="head">
    <title>Karriär</title>
  </Fragment>
  <article class="prose mx-auto p-4">
    <h1>Karriär</h1>
    <p>Se våra lediga tjänster och läs mer om hur det är att jobba hos oss.</p>
  </article>
</BaseLayout>
