---
import BaseLayout from '../layouts/BaseLayout.astro';
import Contact from '../components/Contact.astro';
---
<BaseLayout>
  <Fragment slot="head">
    <title>Kontakta oss</title>
  </Fragment>
  <h1 class="text-3xl font-bold text-center my-8">Kontakta oss</h1>
  <Contact />
</BaseLayout>
