---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <Fragment slot="head">
    <title>Kundreferenser</title>
  </Fragment>
  <article class="prose mx-auto p-4">
    <h1>Kundreferenser</h1>
    <p>Exempel på nöjda BRF:er och företag som anlitat oss.</p>
  </article>
</BaseLayout>
